.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    margin-top: -3%;
    padding: 4%;
    width: 60%;
    
  }

  .card-container img {
      height: 40%;
  }

  .card-container img:hover{
      height: 80%;
  }